/*
    Version - ALPHA 1.5.0
    Copyright - Eduardo Furlaneti - [NewLink]
    -----------------------------------------
*/

/*.container {margin: auto;}*/
.container {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

/*Mobile*/
@media only screen and (max-width: 425px){
    .container{
        max-width: 80vw;
        margin: auto;
    }
}

/*Tablet*/
@media only screen and (min-width: 426px) and (max-width: 1024px){
    .container{
        max-width:70vw;
        margin: auto;
    }
}

/*Desktop*/
@media only screen and (min-width: 1024px){
    
    .container.right .column:first-child{flex-grow: 1.325;}
    
    .container.left .column:last-child{flex-grow: 1.425;}
    
    .container.left{
        margin: 0 0 0 13.5vw;
        max-width: none;
    }
    .container.right{
        margin: 0 13.5vw 0 0;
        max-width: none;
    }
    
    .container .container{ max-width: 80%; }
}

/*Grid*/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: baseline;
}
.row.centered{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.row.stretch{
    justify-content: space-around;    
    align-items: stretch;
    align-content: stretch;
}

.row.stretch .column {align-self: stretch;}

@media only screen and (max-width: 1024px){
    .row{flex-direction: column;}
    ul.row{flex-direction: row;}
    ul.row[class*='max-'] .column{
        flex: 50%;
        max-width: 50%;
    }
}

ul.row{padding: 0;}

.row.max-2 .column{
    flex: 50%;
    max-width: 50%;
}
.row.max-3 .column{
    flex: 33.333333%;
    max-width: 33.333333%;
}
.row.max-4 .column{
    flex: 25%;
    max-width: 25%;
}

.row.max-6 .column{
    flex: 16.66667%;
    max-width: 16.66667%;
}

.row.top{
    align-items: end;
}
.row.top .column{
    align-self: auto;
}

.column{
    order: 0;
/*    align-self: flex-start;*/
    align-self: center;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
}

.column.double{flex-grow: 2;}
.column.triple{flex-grow: 3;}
.column.quintuplo{flex-grow: 5;}

@media only screen and (min-width: 1000px){
    .column.size-90{max-width: 90%}
    .column.size-80{max-width: 80%}
    .column.size-70{max-width: 70%}
    .column.size-60{max-width: 60%}
    .column.size-50{max-width: 50%}
}

/*Helper*/

.text-center,
.text-center *{ text-align: center; }

.text-left,
.text-left *{ text-align: left; }

.text-right,
.text-right *{ text-align: right; }

.break-line:before{
    content: "\A";
    white-space: pre;
}

.inline-menu{
    display: block;
    margin: 0;
    padding: 0;
}

.inline-menu li{ 
    display: inline-block; 
    vertical-align: middle;
}
.inline-menu li a{ display: block;}

/*Automatics*/
img{max-width: 100%;}
hr{
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}
body{margin: 0;}
